<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User Account</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/create_user.css') }}">
</head>
<body>

    <div class="signup-container">

        <div class="signup-card">

            <h2>Create User Account</h2>

            {% if message %}
                <p class="success">{{ message }}</p>
            {% endif %}

            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}

            <form action="/api/create_user" method="POST" onsubmit=" return validateForm(event)">

                <label>Full Name</label>
                <input type="text" name="fullname" placeholder="Enter your full name" maxlength="30" required>

                <label>Username</label>
                <input type="text" name="username" placeholder="Choose a username" maxlength="20" required >

                <label>Email</label>
                <input type="email" name="email" placeholder="Enter your email" maxlength="30" required>

                <label>Password</label>
                <div class="password-box">
                     <input
                        maxlength="20"
                        type="password"
                        id="password" 
                        name="password" 
                        placeholder="Create a password" 
                        oninput="validatePassword()" 
                        required
                 >
                    <button
                        type="button"
                        class="eye-btn"
                        onclick="togglePassword()">
                        👁
                    </button>

                </div>

                <span class="valid_password" id="passwordMessage">
                    
                </span>

                <label>Confirm Password</label>
                <input type="password" 
                maxlength="20"
                id="confirm_password"
                name="confirm_password" 
                placeholder="Confirm your password" 
                oninput="confirmPassword()"
                required>

                <span id="check_password" class="valid_password"></span>

                <label>Bio</label>
                <input class="bio" type="text" name="bio" placeholder="Enter about user" maxlength="100">

                <button type="submit">Create User Account</button>

            </form>

            <p class="back_dashboard"> Back to dashboard <a href="/admin">click</a> </p>

        </div>

    </div>
    <script src="{{ url_for('static', filename='js/create_account.js') }}"></script>
</body>
</html>